%h1 Listing feedbacks

%table
  %tr
    %th Rate
    %th Content
    %th User
    %th Lesson
    %th
    %th
    %th

  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.rate
      %td= feedback.content
      %td= feedback.user_id
      %td= feedback.lesson_id
      %td= link_to 'Show', feedback
      %td= link_to 'Edit', edit_feedback_path(feedback)
      %td= link_to 'Destroy', feedback, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Feedback', new_feedback_path
